.chatInputContainer {
    background-color: var(--colorNeutralBackground3);
    border-top: 1px solid var(--colorNeutralBackground3);
}

.chatInputContainer button[type="submit"] {
    color: var(--colorBrandForeground2) !important;
}

